:root {
  --Dark-Cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-Dark-Blue: hsl(212, 21%, 14%);
  --Dark-Grayish-Blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

html {
  height: 100%;
}

body {
  font-size: 18px;
  min-height: 100vh;
  background-color: var(--Cream);
  display: grid;
  place-content: center;
  font-family: Monospace;
}

.image {
  grid-area: image;
  border-radius: 10px 0px 0px 10px;
  height: auto;
  width: 100%;
}

.content {
  padding: 20px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  width: 600px;
  background-color: var(--White);
  border-radius: 10px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "image main";
}

main, .sub-title {
  font-family: "Montserrat";
  color: var(--Dark-Grayish-Blue);
}

.title {
  font-family: "Fraunces";
  font-size: 35px;
  font-weight: bold;
  color: var(--Very-Dark-Blue);
}

.price {
  font-family: "Fraunces";
  font-size: 35px;
  color: var(--Dark-Cyan);
}

.sales {
  font-size: 20px;
  text-decoration: line-through;
  color: var(--Dark-Grayish-Blue);
}


@media screen and (max-width: 375px) {
  .container {
    grid-template-areas:
    "image"
    "main";
