:root {
  --Dark-Cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-Dark-Blue: hsl(212, 21%, 14%);
  --Dark-Grayish-Blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

html {
  height: 100%;
}

body {
  font-size: 18px;
  min-height: calc(100% - 11px) ;
  background-color: var(--Cream);
  display: grid;
  place-content: center;
  font-family: Monospace;
}

.image {
  content: url("./images/image-product-desktop.jpg");
  grid-area: image;
  border-radius: 10px 0px 0px 10px;
  height: auto;
  max-width: 100%;
}

.content {
  padding: 20px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container {
  width: 600px;
  background-color: var(--White);
  border-radius: 10px;
  padding: 0px;
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  grid-template-areas:
  "image main";
}

main, .sub-title {
  font-family: "Montserrat", sans-serif;
  color: var(--Dark-Grayish-Blue);
}

.title {
  font-family: "Fraunces", serif;
  font-size: 35px;
  font-weight: bold;
  color: var(--Very-Dark-Blue);
}

.price {
  font-family: "Fraunces", serif;
  font-size: 35px;
  color: var(--Dark-Cyan);
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.sales {
  font-size: 20px;
  margin-left: 20px;
  text-decoration: line-through;
  color: var(--Dark-Grayish-Blue);
}

footer {
  background: var(--Dark-Cyan);
  color: var(--White);
  margin: 5px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  padding-right: 20px;
}


@media screen and (max-width: 650px) {
  .image {
  content: url("./images/image-product-mobile.jpg");
  border-radius: 10px 10px 0px 0px;
  }

  .container {
    width: 375px;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
    "image"
    "main";
  }
}

